/* HEADER */

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  height: 9.6rem;
  padding: 0 6.5rem;
  position: relative;
}

/* NAVIGATION */

.main-nav-list {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 4rem;
}

.main-nav-link:link,
.main-nav-link:visited {
  display: inline-block;
  text-decoration: none;
  color: #fff;
  font-weight: 300;
  font-size: 1.8rem;
  transition: all 0.3s;
}

.main-nav-link:hover,
.main-nav-link:active {
  color: #ff7520;
}

.main-nav-link.nav-cta:link,
.main-nav-link.nav-cta:visited {
  padding: 1.2rem 2.4rem;
  border-radius: 9px;
  color: #fff;
  background-color: #ff7520;
}

.main-nav-link.nav-cta:hover,
.main-nav-link.nav-cta:active {
  background-color: #ff7520;
}

/* MOBILE BUTTON */
.btn-mobile-nav {
  border: none;
  background: none;
  cursor: pointer;

  display: none;
}

.icon-mobile-nav {
  height: 2rem;
  width: 2rem;
}

.icon-mobile-nav[name='close-outline'] {
  display: none;
}

/* STICKY NAVIGATION */

.sticky .header {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 8rem;
  padding: 0 6.5rem 0 6.5rem;
  background-color: rgba(0, 0, 0, 0.9);
  z-index: 999;
  box-shadow: 0 1.2rem 3.2rem rgba(0, 0, 0, 0.03);
}

.sticky .section-hero {
  margin-top: 9.6rem;
}

/* HERO SECTION */

.section-hero {
  padding: 0 2rem;
}

.hero {
  max-width: 130rem;
  margin: 0 auto;
  padding: 0 3rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 9.6rem;
  align-items: center;
}

.hero-description {
  font-size: 2rem;
  line-height: 1.6;
  margin-bottom: 4.8rem;
}

.hero-img {
  width: 100%;
}

.rated-restaurant {
  display: flex;
  align-items: center;
  gap: 1.6rem;
  margin-top: 4rem;
}

.rated-imgs {
  display: flex;
}

.rated-imgs img {
  height: 4.8rem;
  width: 4.8rem;
  border-radius: 50%;
  margin-right: -1.6rem;
  border: 3px solid #fdf2e9;
}

.rated-imgs img:last-child {
  margin: 0;
}

.rated-text {
  font-size: 1.8rem;
  font-weight: 600;
}

.rated-text span {
  color: #ff7520;
  font-weight: 700;
}

.btn,
.btn:link,
.btn:visited {
  display: inline-block;

  text-decoration: none;
  font-size: 1.5rem;
  font-weight: 600;
  padding: 1rem 3rem;
  border-radius: 9px;
  border: none;
  cursor: pointer;
  font-family: inherit;
  transition: all 0.3s;
}

.btn--full:link,
.btn--full:visited {
  background: linear-gradient(to right, #ff883f, #f55e00);
  color: #fff;
}

.btn--full:hover,
.btn--full:active {
  background: linear-gradient(to right, #ff883f, #f55e00);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: black;
}

.btn--outline:link,
.btn--outline:visited {
  background-color: #fff;
  color: black;
}

.btn--outline:hover,
.btn--outline:active {
  background: linear-gradient(to right, #ff883f, #f55e00);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: #fff;
}

/* EXPLORE RESTAURANT SECTION */

.section-restaurant {
  padding: 5.6rem 0;
}

.restaurant {
  border-radius: 11px;
  overflow: hidden;
  transition: all 0.4s;
  background-color: white;
  position: relative;
}

.restaurant:hover {
  transform: translateY(-1.2rem);
}

.restaurant-content {
  padding: 3rem;
}

.restaurant-rate {
  margin-bottom: 1.2rem;
  display: flex;
  gap: 0.4rem;
}

.rate {
  display: inline-block;
  padding: 0.4rem 0.8rem;
  font-size: 1rem;
  text-transform: uppercase;
  color: #333;
  border-radius: 100px;
  font-weight: 600;
}

.restaurant-title {
  font-size: 2rem;
  color: black;
  font-weight: 600;
  margin-bottom: 2rem;
}

.restaurant-description {
  font-size: 1.5rem;
  font-weight: 400;
  font-style: italic;
  color: black;
}

.restaurant-attribute {
  font-size: 1rem;
  display: flex;
  align-items: center;
  gap: 1.6rem;
}

.restaurant-icon {
  height: 2.4rem;
  width: 2.4rem;
  color: #e67e22;
}

.restaurant-img {
  width: 100%;
  height: 25vh;
  object-fit: cover;
}

.restaurant-city {
  font-size: 1.2rem;
  font-weight: 600;
  color: #fff;
  position: absolute;
  border-radius: 0 1.4rem 1.4rem 0;
  padding: 0.1rem 1rem;
  top: 1rem;
  background-color: #ff7520;
  box-shadow: 0rem 0.5rem 0.7rem rgba(0, 0, 0, 0.7);
}
s

/* RESPONSIVE */

@media (max-width: 84em) {
  .hero {
    max-width: 120rem;
  }

  .heading-primary {
    font-size: 3.4rem;
  }
}

/* BELOW 1200px (Landscape Tablets)*/

@media (max-width: 75em) {
  .grid {
    column-gap: 4.8rem;
    row-gap: 6.4rem;
  }

  .header {
    padding: 0 3.2rem !important;
  }

  .main-nav-list {
    gap: 3.2rem;
  }

  .hero {
    gap: 4.8rem;
  }
}

/* BELOW 944px (Tablets) */

@media (max-width: 59em) {
  .hero {
    grid-template-columns: 1fr;
    gap: 6.4rem;
  }

  .hero-text-box,
  .hero-img-box {
    text-align: center;
  }

  .hero-img {
    width: 60%;
  }

  .rated-restaurant {
    justify-content: center;
    margin-top: 3.2rem;
  }

  .restaurant-content {
    padding: 2.4rem 3.2rem 3.2rem 3.2rem;
  }

  /* MOBILE NAVIGATION */
  .btn-mobile-nav {
    display: block;
  }

  .main-nav {
    background-color: rgba(0, 0, 0, 0.9);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    transform: translateX(100%);

    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.5s ease-in;
    pointer-events: none;
    visibility: hidden;
  }

  .nav-open .main-nav {
    opacity: 1;
    pointer-events: auto;
    visibility: visible;
    transform: translateX(0);
  }

  .nav-open .icon-mobile-nav[name='close-outline'] {
    display: block;
  }

  .nav-open .icon-mobile-nav[name='menu-outline'] {
    display: none;
  }

  .main-nav-list {
    flex-direction: column;
    gap: 4.8rem;
  }

  .main-nav-link:link,
  .main-nav-link:visited {
    font-size: 3rem;
  }
}

/* BELOW 704px (Smaller tablets) */

@media (max-width: 44em) {
  .grid--3-cols,
  .grid--4-cols {
    grid-template-columns: repeat(2, 1fr);
  }

  .nav-col {
    grid-row: 1;
    grid-column: span 2;
    margin-bottom: 3.2rem;
  }
}

/* BELOW 544px (Phones) */

@media (max-width: 34em) {
  .grid {
    row-gap: 4.8rem;
  }

  .grid--2-cols,
  .grid--3-cols,
  .grid--4-cols {
    grid-template-columns: 1fr;
  }

  .btn,
  .btn:link,
  .btn:visited {
    padding: 2.4rem 1.6rem;
  }

  .section-hero {
    padding: 2.4rem 0 6.4rem 0;
  }

  .hero {
    padding: 0 3.2rem;
  }

  .hero-img {
    width: 80%;
  }
}
